*{
margin:0;
padding:0;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 500px;
      margin: auto;
  }
  #container {
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}
.block2, .block3, .block5 {
  padding: 10px;
  margin: 5px;
}
.block1{
  height: 450px;
  padding: 20px;
  margin-top: 10px;
  background-color: #99ff99;
}
.block2{
  background-color: #99ccff;
  height:200px;
}
.block3{
  height:200px;
  background-color: #ff99cc;
}
.block4{
  height:410px;
  background-color: white;
  margin: 5px;
  margin-left: 20px;
  padding: 50px;
}
.block5{
  height: 860px;
  background-color: #c0c0c0;
  margin-top: 10px;
  padding: 20px;
}
p {
  font-size: 16px;
font-family: Verdana sans-serif;
}
h1 {
  text-align: center;
}
